<!DOCTYPE html>
@{
Layout = null;
} 
<html>

<head>
  <meta charset="UTF-8">
  <title>Sign In/Up Form Transitions</title>
  <link rel="stylesheet" href="~/css/style.css">
</head>


<body>

  <body>
      <a href="/Home/SignIn" >Войти</a>
      <a href="/Home/SignUp">Зарегистрироваться</a>
    <script type="text/javascript">

    </script>

  </body>


</body>

</html>