<!DOCTYPE html>
@{
    Layout = null;
}
<html>

<head>
    <meta charset="UTF-8">
    <title>Sign In/Up Form Transitions</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>


<body>

<body>

<form method="post">
    <label >Логин</label>
    <input  name="login">
    <label >Пароль</label>
    <input type="text" name="password">
    <label >Подтвердите пароль</label>
    <input type="text" name="confirmPassword">
    <label >Роль</label>
    <input type="text" name="role">
    <button type="submit">Зарегистрироваться</button>
</form>
<script type="text/javascript">

    </script>

</body>


</body>

</html>